<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nrum.nrum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="org.nrum.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:configChanges="layoutDirection|locale"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="layoutDirection|locale"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NrumWebViewActivity"
            android:label="@string/title_activity_nrum_web_view"
            android:configChanges="layoutDirection|locale"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nrum.nrum.MainActivity" />
        </activity>
        <activity
            android:name=".NewsListActivity"
            android:label="@string/title_activity_news_list"
            android:configChanges="layoutDirection|locale"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nrum.nrum.MainActivity" />
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="SignIn"
            android:configChanges="layoutDirection|locale"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nrum.nrum.MainActivity" />
        </activity>
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        // for active android
        <meta-data
            android:name="AA_DB_NAME"
            android:value="db_nrum.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="org.nrum.db_nrum.News, org.nrum.db_nrum.Banner, org.nrum.db_nrum.Notice" />

        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:configChanges="layoutDirection|locale"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nrum.nrum.MainActivity" />
        </activity>
        <activity
            android:name=".NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:configChanges="layoutDirection|locale"
            android:parentActivityName=".NewsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nrum.nrum.NewsListActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:configChanges="layoutDirection|locale"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nrum.nrum.MainActivity" />
        </activity>
    </application>

</manifest>